<%- include("partials/header.ejs") %>


<h1>REMOTE ROTATOR CONTROL</h1>
<h3>Test</h3>




<body>

 

  <form action="/turnright" method="post">
    <button type="submit">Turn Right</button>
  </form>

  <form action="/turnleft" method="post">
    <button type="submit">Turn Left</button>
  </form>

</body>



<%- include("partials/footer.ejs") %>



